<br>
<h1>Amapala</h1>
<br>
  
<table cellpadding="0" cellspacing="0" border="0" id="backgroundTable" style="height:auto !important; margin:0; padding:0; width:100% !important; background-color:#FFFFFF; color:#222222;">
    <tr>
      
      <td>
           <div id="tablewrap" style="width:100% !important; max-width:600px !important; text-align:center !important; margin-top:0 !important; margin-right: auto !important; margin-bottom:0 !important; margin-left: auto !important;">
            <table id="contenttable" width="600" align="center" cellpadding="0" cellspacing="0" border="0" style="background-color:#FFFFFF; text-align:center !important; margin-top:0 !important; margin-right: auto !important; margin-bottom:0 !important; margin-left: auto !important; border:none; width: 100% !important; max-width:600px !important;">
              <tr>
                  <td width="100%">
                      <table bgcolor="#FFFFFF" border="0" cellspacing="0" cellpadding="0" width="100%">
                          <tr>
                              <td width="100%" bgcolor="#ffffff" style="text-align:center;"><a href="#"><img src="https://i.ytimg.com/vi/wCRkNYwA3ts/maxresdefault.jpg" alt="Main banner image and link" style="display:inline-block; max-width:100% !important; width:100% !important; height:auto !important;border-bottom-right-radius:8px;border-bottom-left-radius:8px;" border="0"></a>
                              </td>
                          </tr>
                     </table>
                     <table bgcolor="#FFFFFF" border="0" cellspacing="0" cellpadding="25" width="100%">
                          <tr>
                              <td width="100%" bgcolor="#ffffff" style="text-align:left;">
                                <p style="color:#222222; font-family:Arial, Helvetica, sans-serif; font-size:15px; line-height:19px; margin-top:0; margin-bottom:20px; padding:0; font-weight:normal;">
                                                             
                                  </p>
                                <p style="color:#222222; font-family:Arial, Helvetica, sans-serif; font-size:15px; line-height:19px; margin-top:0; margin-bottom:20px; padding:0; font-weight:normal;">
                                  La isla de Amapala compuesta por playas de tierra volcánica, historia colonial, económica y política,  su  oferta turística la convierte en un destino de referencia. <a style="color:#2489B3; font-weight:bold; text-decoration:underline;" href="#"></a>!
                                  </p>
                                      <table border="0" cellspacing="0" cellpadding="0" width="100%" class="emailwrapto100pc">
                                        <tr>
                                          <td class="emailcolsplit" align="left" valign="top" width="58%">
                                              <p style="color:#222222; font-family:Arial, Helvetica, sans-serif; font-size:15px; line-height:19px; margin-top:0; margin-bottom:20px; padding:0; font-weight:normal;">
                                                Algunos de los destinos más importantes dentro de Amapala son Playa Negra, ubicada frente al Golfo de Fonseca, lo que le permitirá observar el volcán de Cosigüina. Playa Grande, considerado uno de los sitios turísticos más populares de la Isla del Tigre; su playa de arena oscura por la roca madre volcánica de la cual procede, ofrece desde la orilla una impresionante vista de los atardeceres.                         </p>
                                          </td>
                                          <td class="emailcolsplit" align="left" valign="top" width="42%" style="padding-left:17px;max-width:231px;">
                                              <a href="#"><img src="https://hondudiario.com/wp-content/uploads/2018/02/CASA-UHLER-EINSTEIN.jpg" alt="Supporting image 1" style="display:block; width:100% !important; height:auto !important;border-radius:8px;" border="0"></a>
                                          </td>
                                        </tr>
                                        <tr>
                                          <td class="emailcolsplit" align="left" valign="top" width="58%">
                                              <p style="color:#222222; font-family:Arial, Helvetica, sans-serif; font-size:15px; line-height:19px; margin-top:0; margin-bottom:20px; padding:0; font-weight:normal;">
                                                  Dejando un poco la naturaleza, otro de los atractivos de Amapala es su casco histórico, con la estructura de un típico puerto donde fluyen una serie de elementos artísticos con cierto eclecticismo. Amapala es un destino para quienes buscan algo diferente, eso sí, con disposición a estar en uno de los sitios más cálidos de Honduras.
                                              </p>
                                          </td>
                                          <td class="emailcolsplit" align="left" valign="top" width="42%" style="padding-left:17px;max-width:231px;">
                                              <a href="#"><img src="https://upload.wikimedia.org/wikipedia/commons/0/0c/Puerto_de_amapala_Honduras.jpg" alt="Supporting image 2" style="display:block; width:100% !important; height:auto !important;border-radius:8px;" border="0"></a>
                                          </td>
                                        </tr>
                                      </table>
      
                              </td>
                          </tr>
                     </table>
                     <table bgcolor="#FFFFFF" border="0" cellspacing="0" cellpadding="0" width="100%">
                          <tr>
                            <td width="100%" bgcolor="#ffffff" style="text-align:center;"><a style="font-weight:bold; text-decoration:none;" href="#"><div style="display:block; max-width:100% !important; width:93% !important; height:auto !important;background-color:#2489B3;padding-top:15px;padding-right:15px;padding-bottom:15px;padding-left:15px;border-radius:8px;color:#ffffff;font-size:24px;font-family:Arial, Helvetica, sans-serif;">Reserva ya!!</div></a></td>
                          </tr>
                     </table>
                     <table bgcolor="#FFFFFF" border="0" cellspacing="0" cellpadding="25" width="100%">
                          <tr>
                              <td width="100%" bgcolor="#ffffff" style="text-align:left;">
                                <p style="color:#222222; font-family:Arial, Helvetica, sans-serif; font-size:11px; line-height:14px; margin-top:0; margin-bottom:15px; padding:0; font-weight:normal;">
                                    <a style="color:#2489B3; font-weight:bold; text-decoration:underline;" href="#"></a>
                                  
                              </td>
                          </tr>
                      </table>
                  </td>
              </tr>
          </table>
          </div>
      </td>
    </tr>
  </table> 


<router-outlet></router-outlet>
