

#reserva {
	background: url(https://www.aa-hoteles.com/img/imgTxt/hotel-viladomat-texto-bienvenida-28_49_127_314.jpg);
	background-attachment: fixed;
	width: 100%;
	height: 550px;
}
label{
  display: inline-block;
  width: 100px;
}


form {        
	          padding: 10px;
            float: right;
            background: rgba(238, 241, 241, 0.986);
            width: 25%;
            height: 420px;
            margin: 10px;
        }

        @media (min-width: 768px) {
          .carousel-multi-item-2 .col-md-3 {
          float: left;
          width: 25%;
          max-width: 100%; } }
          
          .carousel-multi-item-2 .card img {
          border-radius: 2px; }
          


