<br><br><br><br><br>
<h1>Comayagua</h1>
<br>
<div class="carousel">
  <div class="holder">
    <img src="http://www.revistaestilo.net/csp/mediapool/sites/dt.common.streams.StreamServer.cls?STREAMOID=crk18F6bvAu4LdPL7K61Oc$daE2N3K4ZzOUsqbU5sYu6Eh3$0p6c1rS3nXlh_7_nWCsjLu883Ygn4B49Lvm9bPe2QeMKQdVeZmXF$9l$4uCZ8QDXhaHEp3rvzXRJFdy0KqPHLoMevcTLo3h8xh70Y6N_U_CryOsw6FTOdKL_jpQ-&CONTENTTYPE=image/jpeg" alt="" />
    <img src="https://hondurasturistica.com/wp-content/uploads/2017/11/lugares-turi%CC%81sticos-de-Comayagua.jpg" alt="" />
    <img src="https://hondurasturistica.com/wp-content/uploads/2017/11/lugares-turi%CC%81sticos-de-Comayagua-Honduras.png" alt="" />
    <img src="http://www.hondurasmarcapais.com/wp-content/uploads/2018/07/005-900x480.jpg" alt="" />
    <img src="https://serturista.com/wp-content/uploads/2007/10/alfombras-de-comayagua.jpg" alt="" />
    <img src="https://www.travelreport.mx/wp-content/uploads/2017/09/balnearios.jpg" alt="" />
    <img src="https://www.elheraldo.hn/csp/mediapool/sites/dt.common.streams.StreamServer.cls?STREAMOID=7Sh3DT$kPt5Xcm1YEQ1Ioc$daE2N3K4ZzOUsqbU5sYsgGp7l1tVt27oSjEAnuYXq6FB40xiOfUoExWL3M40tfzssyZqpeG_J0TFo7ZhRaDiHC9oxmioMlYVJD0A$3RbIiibgT65kY_CSDiCiUzvHvODrHApbd6ry6YGl5GGOZrs-&CONTENTTYPE=image/jpeg" alt="" />
    <img src="https://t-ec.bstatic.com/images/hotel/max1280x900/640/64046235.jpg" alt="" />
  
  </div>
</div>


<br><br>
<h3>Difruta de estos Lugares:</h3>
   <br><br>
  <div class="card-container">
    <div class="card img">
      <h3>Villa Mark Park.</h3>
      <p>Reserva tu lugar.</p>
      <img src="https://i.ytimg.com/vi/VIodMEEWK7c/maxresdefault.jpg" alt="D:">
      <br>
      <table bgcolor="#FFFFFF" border="0" cellspacing="0" cellpadding="0" width="100%">
          <tr>
            <td width="100%" bgcolor="#ffffff" style="text-align:center;"><a style="font-weight:bold; text-decoration:none;" routerLink="/hoteles"><div style="display:block; max-width:100% !important; width:93% !important; height:auto !important;background-color:#2489B3;padding-top:15px;padding-right:15px;padding-bottom:15px;padding-left:15px;border-radius:8px;color:#ffffff;font-size:24px;font-family:Arial, Helvetica, sans-serif;">Reserva ya!!</div></a></td>
          </tr>
     </table>
    </div>
    <div class="card img">
      <h3>Hotel Antigua Comayagua </h3>
      <p>Reserva tu lugar.</p>
      <img src="https://t-ec.bstatic.com/images/hotel/max1024x768/640/64046135.jpg" alt="D:">
      <br>
      <table bgcolor="#FFFFFF" border="0" cellspacing="0" cellpadding="0" width="100%">
          <tr>
            <td width="100%" bgcolor="#ffffff" style="text-align:center;"><a style="font-weight:bold; text-decoration:none;" routerLink="/hoteles"><div style="display:block; max-width:100% !important; width:93% !important; height:auto !important;background-color:#2489B3;padding-top:15px;padding-right:15px;padding-bottom:15px;padding-left:15px;border-radius:8px;color:#ffffff;font-size:24px;font-family:Arial, Helvetica, sans-serif;">Reserva ya!!</div></a></td>
          </tr>
     </table>
    </div>
    <div class="card img">
      <h3>Cuevas de Taulabe</h3>
      <p>Reserva tu lugar.</p>
      <img src="https://static.wixstatic.com/media/4e3b3f_1a36e89318624037b4901d2c3b8eb36b~mv2.jpg" alt="D:">
      <br>
      <table bgcolor="#FFFFFF" border="0" cellspacing="0" cellpadding="0" width="100%">
          <tr>
            <td width="100%" bgcolor="#ffffff" style="text-align:center;"><a style="font-weight:bold; text-decoration:none;" routerLink="/hoteles"><div style="display:block; max-width:100% !important; width:93% !important; height:auto !important;background-color:#2489B3;padding-top:15px;padding-right:15px;padding-bottom:15px;padding-left:15px;border-radius:8px;color:#ffffff;font-size:24px;font-family:Arial, Helvetica, sans-serif;">Reserva ya!!</div></a></td>
          </tr>
     </table>
    </div>
</div>

<br><br><br><br>
