


<div id="parallax-world-of-ugg">  
    <section>
        <div class="parallax-one">
          <h2 style="background-color:white; color:blue;  opacity: 0.70; font-family: 'Lobster', cursive;">Lugares HN</h2>
        </div>
    </section>
    
    <section>
      <div class="block">
        <p><span class="first-character sc">C</span> onocer a Honduras,  es una empresa de sólido prestigio ubicada en Tegucigalpa, que nace con la noción de fortalecer el turismo interno y permitir a las presentes y futuras generaciones conocer la historia de su país mediante una visita a lugares de interés nacional que forman parte del patrimonio de Honduras.</p>
        <p class="line-break margin-top-10"></p>
        <p class="margin-top-10">radicionalmente, Honduras ha agrupado sus riquezas naturales y culturales en cinco grandes grupo: Naturaleza, Sol y Arrecife, Mundo Colonial, Arqueología y Culturas Vivas. Así, cada ciudad, cada pueblo, cada atractivo se ubica en la categoría que más lo identifica o representa. Por ejemplo, Roatán o Cayos Cochinos pertenecen a Sol y Arrecife mientras que Copán Ruinas se ubica en Arqueología. Las ciudades más grandes del país, Tegucigalpa y San Pedro Sula tienen una característica extra: por su tamaño e importancia, ambas han crecido con una fuerte predisposición al turismo y poseen una sólida oferta para el viajero. Tegucigalpa es la capital de Honduras y por tanto, una ciudad que aloja las sedes de todos los organismos internacionales y gobiernos acreditados en el país. San Pedro Sula, por otra parte, es una ciudad industrial y comercial, una ciudad de negocios/p>
      </div>
    </section>
    
    <section>
      <div class="parallax-two">
     
      </div>
    </section>
    
    <section>
      <div class="block">
            <p><span class="first-character atw">L</span>as Comidas típicas de Honduras se encuentran basadas en diferentes tipos de ingredientes, por el cual, se puede clasificar por ser comidas muy variadas, que comprenden todo tipo de alimento, realizando diferentes tipos de combinaciones de acuerdo a sus zonas. Por otro lado se ha visto que compartes gustos con la Cultura Africana e igualmente con la comida de la Cultura Española.</p>
            <p class="line-break margin-top-10"></p>
            <p class="margin-top-10">Las recetas de las Comidas típicas de Honduras, han sido de gran valor e importancia, para la representación e identidad de los Hondureños, por el cual plasman todo su amor, dedicación en preparar estos deliciosos platillos, que se ven en el día a día, en este maravilloso país, donde se les ofrece variedad en comidas, recetas, ingredientes y gustos.</p>
      </div>
    </section>
    
    <section>
      <div class="parallax-three">
            <h2 style="background-color:white; color:blue;  opacity: 0.80; font-family: 'Lobster', cursive;">Disfruta!!</h2>
      </div>
    </section>
    
    <section>
      <div class="block">
        <p><span class="first-character atw">H</span>onduras es, para muchos extranjeros, un diamante en bruto; algo que muchos de los que viven en nuestro país aún no han logrado apreciar a su totalidad. Para muchos, Honduras sigue siendo solamente Isla de la Bahía y las Ruinas de Copán.

            Es por esto que la productora audiovisual Galeano Studios se unió Galeano Honduras, para hacer realidad este proyecto, donde nos llevaran a conocer a nuestra hermosa Honduras como quizás nunca la hemos visto: como una experiencia de vida que está a la vuelta de la esquina, disponible a todos y lista para ser vivida..</p>
        <p class="line-break margin-top-10"></p>
        <p class="margin-top-10">Explorando Honduras es una serie de capítulos en formato de reality show donde se mostrarán distintos lugares de nuestro país, como ser Cayos Cochinos, Pico Bonito, Gracias Lempira, La esperanza y más. Nos acompañará personalidades nacionales de distintos rubros como ser artistas musicales, presentadores de TV, pintores, etc..</p>
      </div>
    </section>
      
    </div>










    <h1>Lugares de tu RUMBO HN</h1>

    <section class="gallery-block compact-gallery">
      <div class="container">
          <div class="heading">
              <h2>Tenemos tu Lugar Indicado</h2>
          </div>
          <div class="row no-gutters">
              <div class="col-md-6 col-lg-4 item zoom-on-hover">
                  <a class="lightbox">
                      <img class="img-fluid image" routerLink="/comayagua" src="http://www.revistaestilo.net/csp/mediapool/sites/dt.common.streams.StreamServer.cls?STREAMOID=crk18F6bvAu4LdPL7K61Oc$daE2N3K4ZzOUsqbU5sYu6Eh3$0p6c1rS3nXlh_7_nWCsjLu883Ygn4B49Lvm9bPe2QeMKQdVeZmXF$9l$4uCZ8QDXhaHEp3rvzXRJFdy0KqPHLoMevcTLo3h8xh70Y6N_U_CryOsw6FTOdKL_jpQ-&CONTENTTYPE=image/jpeg">
                      <span class="description">
                          <span class="description-heading">Comayagua</span>
                          <span class="description-body">Catedral de la capital.</span>
                      </span>
                  </a>
              </div>
              <div class="col-md-6 col-lg-4 item zoom-on-hover">
                  <a class="lightbox" >
                      <img class="img-fluid image" routerLink="/roatan" src="https://www.elheraldo.hn/csp/mediapool/sites/dt.common.streams.StreamServer.cls?STREAMOID=nDBHyEP1vbmIMq45fdXCuc$daE2N3K4ZzOUsqbU5sYuryP0eha1RPwVomINF7mxfWCsjLu883Ygn4B49Lvm9bPe2QeMKQdVeZmXF$9l$4uCZ8QDXhaHEp3rvzXRJFdy0KqPHLoMevcTLo3h8xh70Y6N_U_CryOsw6FTOdKL_jpQ-&CONTENTTYPE=image/jpeg">
                      <span class="description">
                          <span class="description-heading">Roatan</span>
                          <span class="description-body">West bay.</span>
                      </span>
                  </a>
              </div>
              <div class="col-md-6 col-lg-4 item zoom-on-hover">
                  <a class="lightbox" >
                      <img class="img-fluid image" routerLink="/copan" src="http://yaragua.com/wp-content/uploads/2015/01/copan2.jpg">
                      <span class="description">
                          <span class="description-heading">Copan </span>
                          <span class="description-body">Copan Ruinas</span>
                      </span>
                  </a>
              </div>
              <div class="col-md-6 col-lg-4 item zoom-on-hover">
                  <a class="lightbox" >
                      <img class="img-fluid image" routerLink="/francisco" src="https://www.hondurastips.hn/wp-content/uploads/2017/09/DSC01688.jpg">
                      <span class="description">
                          <span class="description-heading">Francisco Morazan</span>
                          <span class="description-body">Santa Lucia.</span>
                      </span>
                      </a>
                  </div>
              <div class="col-md-6 col-lg-4 item zoom-on-hover">
                  <a class="lightbox" >
                      <img class="img-fluid image" routerLink="/ceiba" src="https://www.laprensa.hn/csp/mediapool/sites/dt.common.streams.StreamServer.cls?STREAMOID=zpCMFIJwXkEWNKRHibxoS8$daE2N3K4ZzOUsqbU5sYsBTN_GjKNqgSbWv6tgB9bbWCsjLu883Ygn4B49Lvm9bPe2QeMKQdVeZmXF$9l$4uCZ8QDXhaHEp3rvzXRJFdy0KqPHLoMevcTLo3h8xh70Y6N_U_CryOsw6FTOdKL_jpQ-&CONTENTTYPE=image/jpeg">
                      <span class="description">
                          <span class="description-heading">Ceiba</span>
                          <span class="description-body">El corazal.</span>
                      </span>
                  </a>
              </div>
              <div class="col-md-6 col-lg-4 item zoom-on-hover">
                  <a class="lightbox" >
                      <img class="img-fluid image" routerLink="/puerto"  src="https://t-ec.bstatic.com/images/hotel/max1024x768/456/45651118.jpg">
                      <span class="description">
                          <span class="description-heading">Puerto cortes</span>
                          <span class="description-body">Real Intercontinental de San Pedro sula.</span>
                      </span>
                  </a>
              </div>
              <div class="col-md-6 col-lg-4 item zoom-on-hover">
                  <a class="lightbox" >
                      <img class="img-fluid image" routerLink="/tela"  src="https://www.elheraldo.hn/csp/mediapool/sites/dt.common.streams.StreamServer.cls?STREAMOID=p4qa7qfHqIRuCcrFp8etuM$daE2N3K4ZzOUsqbU5sYtzmeP3I8pQoOoCjP92Td7jWCsjLu883Ygn4B49Lvm9bPe2QeMKQdVeZmXF$9l$4uCZ8QDXhaHEp3rvzXRJFdy0KqPHLoMevcTLo3h8xh70Y6N_U_CryOsw6FTOdKL_jpQ-&CONTENTTYPE=image/jpeg">
                      <span class="description">
                          <span class="description-heading">Atlantida</span>
                          <span class="description-body">Hermosa playa de Tela.</span>
                      </span>
                  </a>
              </div>
              <div class="col-md-6 col-lg-4 item zoom-on-hover">
                  <a class="lightbox" >
                       
                      <img class="img-fluid image" routerLink="/amapala" src="https://media-cdn.tripadvisor.com/media/photo-s/08/f0/a4/9f/playa-negra.jpg">
                      <span class="description">
                          <span class="description-heading" > Choluteca</span>
                          <span class="description-body">Amapala.</span>
                      </span>
                  </a>
              </div>
              <div class="col-md-6 col-lg-4 item zoom-on-hover">
                  <a class="lightbox">
                      <img class="img-fluid image" routerLink="/santa"  src="https://www.laprensa.hn/csp/mediapool/sites/dt.common.streams.StreamServer.cls?STREAMOID=nmaLH4ZWH8K2l8EtTG0hIM$daE2N3K4ZzOUsqbU5sYts78HKdQ21WE_E1SkESKcqWCsjLu883Ygn4B49Lvm9bPe2QeMKQdVeZmXF$9l$4uCZ8QDXhaHEp3rvzXRJFdy0KqPHLoMevcTLo3h8xh70Y6N_U_CryOsw6FTOdKL_jpQ-&CONTENTTYPE=image/jpeg">
                      <span class="description">
                          <span class="description-heading">Santa Barbara</span>
                          <span class="description-body">Baneario.</span>
                      </span>
                  </a>
              </div>
          </div>
      </div>
  </section>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
  <script>
      baguetteBox.run('.compact-gallery', { animation: 'slideIn'});
  </script>




 
<router-outlet></router-outlet>