<br>
<br>
<br>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
  integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Lobster" />
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
  integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
  integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
  integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<style>
  .parallax {
    /* The image used */
    
    background-image: url("http://norestenoticias.com/wp-content/uploads/2018/05/honduu.jpg");

    /* Set a specific height */
    height: 500px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .imagen {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -webkit-transform: rotate(360deg);
  }


  .d1 {
    opacity: 0.8;
    background-color: rgb(209, 184, 151);

  }

  h1 {

    font-family: 'Lobster', cursive;
    text-align: center;
  }

  p {
    animation-duration: 7s;
    animation-name: slidein;
  }

  @keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%
    }

    to {
      margin-left: 0%;
      width: 100%;
    }
  }

  .col-sm-4 {
    background-color: beige;

    align-items: center;
    border-radius: 10px;
  }

  .col-sm-8 {
    opacity: 0.8;
    text-align: justify;
    background-color: beige;
    align-items: center;
    border-radius: 10px;
  }
</style>

<body>
  <div class="parallax">
    <div class="d1">
      <h1 class="h1">Nosotros</h1>
    </div>
    <br>
    <br>
   

    <div class="container-fluid bg-grey">

      <div class="row">

        <div class="col-sm-4">
          <img class="imagen" id="logomv" src="assets/logomv.png" height="300" width="400">
        </div>
        <div class="col-sm-8">
          <br>
          <br>
          <p><strong>MISION:</strong><br>
            Ofrecer un servicio personalizado de calidad y confiabilidad, a través de la buena atención de nuestro
            personal
            debidamente capacitado, diseñando viajes únicos, a precios asequibles, logrando superar las expectativas de
            nuestros clientes.</p>
          <br>
          <p><strong>VISION:</strong>
            Para convertirnos en una reconocida empresa de turismo en nuestra región, por la confianza y seguridad que
            ofrecemos a nuestros clientes, presentando servicios innovadores y asegurando una actividad turística
            estable,
            promoviendo un ambiente de buenas relaciones y obteniendo la más alta satisfacción de nuestros clientes.<p>
        </div>
      </div>

    </div>
  </div>
</body>

<router-outlet></router-outlet>