<!-- Full Page Image Header with Vertically Centered Content -->
<header class="masthead">
    <img src="https://freefrontend.com/assets/img/html-funny-404-pages/HTML-Yeti-404-Page.gif" width="100%" height="600px" alt="">
   <div class="container h-100">
     <div>
       <div class="col-12 text-center">
       </div>
     </div>
   </div>
   
 </header>