body{
    background: url(https://freefrontend.com/assets/img/html-funny-404-pages/HTML-Yeti-404-Page.gif);
    }
    .contenedor{
        
        position: relative;
        display: inline-block;
        text-align: center;
    }
     
    .texto-encima{
        position: absolute;
        top: 10px;
        left: 10px;
    }
    .centrado{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }