<br><br><br><br><br>
<h1>Ceiba</h1>
<br>
<div class="carousel">
  <div class="holder">
    <img src="http://cdn.elpais.hn/wp-content/uploads/2018/03/la-ceiba-turismo-770x445.gif" alt="" />
    <img src="https://www.hondurastips.hn/wp-content/uploads/2011/02/Muelle-Reinaldo-Canales.jpg" alt="" />
    <img src="https://www.laprensa.hn/csp/mediapool/sites/dt.common.streams.StreamServer.cls?STREAMOID=9NbmZl3tXCpGJDwve6hcvM$daE2N3K4ZzOUsqbU5sYvOHOkqB3sOejWS6egFmRQ7WCsjLu883Ygn4B49Lvm9bPe2QeMKQdVeZmXF$9l$4uCZ8QDXhaHEp3rvzXRJFdy0KqPHLoMevcTLo3h8xh70Y6N_U_CryOsw6FTOdKL_jpQ-&CONTENTTYPE=image/jpeg" alt="" />
    <img src="https://i.pinimg.com/originals/99/2a/ca/992aca09a797d0b807a3f18f94bf4578.jpg" alt="" />
    <img src="https://s-ec.bstatic.com/images/hotel/max1024x768/122/122057549.jpg" alt="" />
    <img src="http://grandpacking.co.nz/wp-content/uploads/2014/08/La-Ceiba.jpg" alt="" />
    <img src="https://www.languagecourse.net/cursos-de-idiomas/images/schools/honduras-spanish-school-la-ceiba_4.jpg" alt="" />
    <img src="http://www.xplorhonduras.com/wp-content/uploads/la-ceiba-honduras.jpg" alt="" />
  
  </div>
</div>


<br><br>
<h3>Difruta de estos Lugares:</h3>
   <br><br>
  <div class="card-container">
    <div class="card img">
      <h3>Hotel La Quinta (Ceiba).</h3>
      <p>Reserva tu lugar.</p>
      <img src="https://media-cdn.tripadvisor.com/media/photo-s/06/73/41/cf/la-quinta-hotel.jpg" alt="D:">
      <br>
      <table bgcolor="#FFFFFF" border="0" cellspacing="0" cellpadding="0" width="100%">
          <tr>
            <td width="100%" bgcolor="#ffffff" style="text-align:center;"><a style="font-weight:bold; text-decoration:none;" routerLink="/hoteles"><div style="display:block; max-width:100% !important; width:93% !important; height:auto !important;background-color:#2489B3;padding-top:15px;padding-right:15px;padding-bottom:15px;padding-left:15px;border-radius:8px;color:#ffffff;font-size:24px;font-family:Arial, Helvetica, sans-serif;">Reserva ya!!</div></a></td>
          </tr>
     </table>
    </div>
    <div class="card img">
      <h3>Parque Nacional Pico Bonito</h3>
      <p>Reserva tu lugar.</p>
      <img src="https://www.hondurastips.hn/wp-content/uploads/2012/03/Pico_Bonito1b-768x512.jpg" alt="D:">
      <br>
      <table bgcolor="#FFFFFF" border="0" cellspacing="0" cellpadding="0" width="100%">
          <tr>
            <td width="100%" bgcolor="#ffffff" style="text-align:center;"><a style="font-weight:bold; text-decoration:none;" routerLink="/hoteles"><div style="display:block; max-width:100% !important; width:93% !important; height:auto !important;background-color:#2489B3;padding-top:15px;padding-right:15px;padding-bottom:15px;padding-left:15px;border-radius:8px;color:#ffffff;font-size:24px;font-family:Arial, Helvetica, sans-serif;">Reserva ya!!</div></a></td>
          </tr>
     </table>
    </div>
    <div class="card img">
      <h3>Cayos Cochinos</h3>
      <p>Reserva tu lugar.</p>
      <img src="https://www.revistaestilo.net/csp/mediapool/sites/dt.common.streams.StreamServer.cls?STREAMOID=1x5YRAlPAoYUw$1nJD_7Qs$daE2N3K4ZzOUsqbU5sYvP4zPQBtu3mp0topZtTBkOWCsjLu883Ygn4B49Lvm9bPe2QeMKQdVeZmXF$9l$4uCZ8QDXhaHEp3rvzXRJFdy0KqPHLoMevcTLo3h8xh70Y6N_U_CryOsw6FTOdKL_jpQ-&CONTENTTYPE=image/jpeg" alt="D:">
      <br>
      <table bgcolor="#FFFFFF" border="0" cellspacing="0" cellpadding="0" width="100%">
          <tr>
            <td width="100%" bgcolor="#ffffff" style="text-align:center;"><a style="font-weight:bold; text-decoration:none;" routerLink="/hoteles"><div style="display:block; max-width:100% !important; width:93% !important; height:auto !important;background-color:#2489B3;padding-top:15px;padding-right:15px;padding-bottom:15px;padding-left:15px;border-radius:8px;color:#ffffff;font-size:24px;font-family:Arial, Helvetica, sans-serif;">Reserva ya!!</div></a></td>
          </tr>
     </table>
    </div>
</div>

<br><br><br><br>
