<br>
<h1>Copan</h1>
<br>
  
<table cellpadding="0" cellspacing="0" border="0" id="backgroundTable" style="height:auto !important; margin:0; padding:0; width:100% !important; background-color:#FFFFFF; color:#222222;">
    <tr>
      
      <td>
           <div id="tablewrap" style="width:100% !important; max-width:600px !important; text-align:center !important; margin-top:0 !important; margin-right: auto !important; margin-bottom:0 !important; margin-left: auto !important;">
            <table id="contenttable" width="600" align="center" cellpadding="0" cellspacing="0" border="0" style="background-color:#FFFFFF; text-align:center !important; margin-top:0 !important; margin-right: auto !important; margin-bottom:0 !important; margin-left: auto !important; border:none; width: 100% !important; max-width:600px !important;">
              <tr>
                  <td width="100%">
                      <table bgcolor="#FFFFFF" border="0" cellspacing="0" cellpadding="0" width="100%">
                          <tr>
                              <td width="100%" bgcolor="#ffffff" style="text-align:center;"><a href="#"><img src="https://hondudiario.com/wp-content/uploads/2019/01/ruinas-de-copan.jpg" alt="Main banner image and link" style="display:inline-block; max-width:100% !important; width:100% !important; height:auto !important;border-bottom-right-radius:8px;border-bottom-left-radius:8px;" border="0"></a>
                              </td>
                          </tr>
                     </table>
                     <table bgcolor="#FFFFFF" border="0" cellspacing="0" cellpadding="25" width="100%">
                          <tr>
                              <td width="100%" bgcolor="#ffffff" style="text-align:left;">
                                <p style="color:#222222; font-family:Arial, Helvetica, sans-serif; font-size:15px; line-height:19px; margin-top:0; margin-bottom:20px; padding:0; font-weight:normal;">
                                                             
                                  </p>
                                <p style="color:#222222; font-family:Arial, Helvetica, sans-serif; font-size:15px; line-height:19px; margin-top:0; margin-bottom:20px; padding:0; font-weight:normal;">
                                    Copán es uno de los sitios más importantes remanentes de la civilización Maya. <a style="color:#2489B3; font-weight:bold; text-decoration:underline;" href="#"></a>!
                                  </p>
                                      <table border="0" cellspacing="0" cellpadding="0" width="100%" class="emailwrapto100pc">
                                        <tr>
                                          <td class="emailcolsplit" align="left" valign="top" width="58%">
                                              <p style="color:#222222; font-family:Arial, Helvetica, sans-serif; font-size:15px; line-height:19px; margin-top:0; margin-bottom:20px; padding:0; font-weight:normal;">
                                                  Durante la temporada de Semana Santa, Comayagua se convierte en la capital del turismo religioso de Honduras. "De sus templos emana el aroma a incienso y el fuego titilante de las velas calienta la fe de miles de feligreses que buscan sosiego espiritual recordando la pasión, muerte y resurrección de Cristo </p>
                                          </td>
                                          <td class="emailcolsplit" align="left" valign="top" width="42%" style="padding-left:17px;max-width:231px;">
                                              <a href="#"><img src="https://www.laprensa.hn/csp/mediapool/sites/dt.common.streams.StreamServer.cls?STREAMOID=Z2CBtb88FH$iplREotNENc$daE2N3K4ZzOUsqbU5sYt8tkUbjTZqPINDSA0VTElUWCsjLu883Ygn4B49Lvm9bPe2QeMKQdVeZmXF$9l$4uCZ8QDXhaHEp3rvzXRJFdy0KqPHLoMevcTLo3h8xh70Y6N_U_CryOsw6FTOdKL_jpQ-&CONTENTTYPE=image/jpeg
                                                " alt="Supporting image 1" style="display:block; width:100% !important; height:auto !important;border-radius:8px;" border="0"></a>
                                          </td>
                                        </tr>
                                        <tr>
                                          <td class="emailcolsplit" align="left" valign="top" width="58%">
                                              <p style="color:#222222; font-family:Arial, Helvetica, sans-serif; font-size:15px; line-height:19px; margin-top:0; margin-bottom:20px; padding:0; font-weight:normal;">
                                                 Copán es un sitio arqueológico de la antigua civilización maya ubicado en el departamento de Copán al occidente de Honduras, a poca distancia de la frontera con Guatemala. Del siglo v al siglo ix fue la capital de un importante reino del periodo Clásico.
                                              </p>
                                          </td>
                                          <td class="emailcolsplit" align="left" valign="top" width="42%" style="padding-left:17px;max-width:231px;">
                                              <a href="#"><img src="http://www.refpp.com/wp-content/uploads/2018/10/escapate-a-copan-ruinas-honduras-traveling-ideas-interesantes-fotos-ruinas-copan-honduras.jpg" alt="Supporting image 2" style="display:block; width:100% !important; height:auto !important;border-radius:8px;" border="0"></a>
                                          </td>
                                        </tr>
                                      </table>
      
                              </td>
                          </tr>
                     </table>
                     <table bgcolor="#FFFFFF" border="0" cellspacing="0" cellpadding="0" width="100%">
                          <tr>
                            <td width="100%" bgcolor="#ffffff" style="text-align:center;"><a style="font-weight:bold; text-decoration:none;" href="#"><div style="display:block; max-width:100% !important; width:93% !important; height:auto !important;background-color:#2489B3;padding-top:15px;padding-right:15px;padding-bottom:15px;padding-left:15px;border-radius:8px;color:#ffffff;font-size:24px;font-family:Arial, Helvetica, sans-serif;">Reserva ya!!</div></a></td>
                          </tr>
                     </table>
                     <table bgcolor="#FFFFFF" border="0" cellspacing="0" cellpadding="25" width="100%">
                          <tr>
                              <td width="100%" bgcolor="#ffffff" style="text-align:left;">
                                <p style="color:#222222; font-family:Arial, Helvetica, sans-serif; font-size:11px; line-height:14px; margin-top:0; margin-bottom:15px; padding:0; font-weight:normal;">
                                    <a style="color:#2489B3; font-weight:bold; text-decoration:underline;" href="#"></a>
                                  
                              </td>
                          </tr>
                      </table>
                  </td>
              </tr>
          </table>
          </div>
      </td>
    </tr>
  </table> 


<router-outlet></router-outlet>
