/* PUT ALL CSS IN THE EMAIL <HEAD>

These styles are meant for clients that recognize CSS in the <head>; the email WILL STILL WORK for those that don't. */
h1{
    text-align: center;
    font-family: 'ZCOOL QingKe HuangYou', cursive;
    }
    #outlook a{padding:0;}
    body{width:100% !important; background-color:#41849a;-webkit-text-size-adjust:none; -ms-text-size-adjust:none;margin:0 !important; padding:0 !important;}  
    .ReadMsgBody{width:100%;} 
    .ExternalClass{width:100%;}
    ol li {margin-bottom:15px;}
        
    img{height:auto; line-height:100%; outline:none; text-decoration:none;}
    #backgroundTable{height:100% !important; margin:0; padding:0; width:100% !important;}
        
    p {margin: 1em 0;}
        
    h1, h2, h3, h4, h5, h6 {color:#222222 !important; font-family:Arial, Helvetica, sans-serif; line-height: 100% !important;}
        
    table td {border-collapse:collapse;}
        
    .yshortcuts, .yshortcuts a, .yshortcuts a:link,.yshortcuts a:visited, .yshortcuts a:hover, .yshortcuts a span { color: black; text-decoration: none !important; border-bottom: none !important; background: none !important;}
        
    .im {color:black;}
    div[id="tablewrap"] {
            width:100%; 
            max-width:600px!important;
        }
    table[class="fulltable"], td[class="fulltd"] {
            max-width:100% !important;
            width:100% !important;
            height:auto !important;
        }
                
    @media screen and (max-device-width: 430px), screen and (max-width: 430px) { 
            td[class=emailcolsplit]{
                width:100%!important; 
                float:left!important;
                padding-left:0!important;
                max-width:430px !important;
            }
        td[class=emailcolsplit] img {
        margin-bottom:20px !important;
        }
    }