<br>
<h1>Comayagua</h1>
<br>
  
<table cellpadding="0" cellspacing="0" border="0" id="backgroundTable" style="height:auto !important; margin:0; padding:0; width:100% !important; background-color:#FFFFFF; color:#222222;">
    <tr>
      
      <td>
           <div id="tablewrap" style="width:100% !important; max-width:600px !important; text-align:center !important; margin-top:0 !important; margin-right: auto !important; margin-bottom:0 !important; margin-left: auto !important;">
            <table id="contenttable" width="600" align="center" cellpadding="0" cellspacing="0" border="0" style="background-color:#FFFFFF; text-align:center !important; margin-top:0 !important; margin-right: auto !important; margin-bottom:0 !important; margin-left: auto !important; border:none; width: 100% !important; max-width:600px !important;">
              <tr>
                  <td width="100%">
                      <table bgcolor="#FFFFFF" border="0" cellspacing="0" cellpadding="0" width="100%">
                          <tr>
                              <td width="100%" bgcolor="#ffffff" style="text-align:center;"><a href="#"><img src="http://www.hondurasmarcapais.com/wp-content/uploads/2018/07/005-900x480.jpg" alt="Main banner image and link" style="display:inline-block; max-width:100% !important; width:100% !important; height:auto !important;border-bottom-right-radius:8px;border-bottom-left-radius:8px;" border="0"></a>
                              </td>
                          </tr>
                     </table>
                     <table bgcolor="#FFFFFF" border="0" cellspacing="0" cellpadding="25" width="100%">
                          <tr>
                              <td width="100%" bgcolor="#ffffff" style="text-align:left;">
                                <p style="color:#222222; font-family:Arial, Helvetica, sans-serif; font-size:15px; line-height:19px; margin-top:0; margin-bottom:20px; padding:0; font-weight:normal;">
                                                             
                                  </p>
                                <p style="color:#222222; font-family:Arial, Helvetica, sans-serif; font-size:15px; line-height:19px; margin-top:0; margin-bottom:20px; padding:0; font-weight:normal;">
                                    Comayagua, es una de las maravillas de Honduras se ha convertido en una atracción nacional e internacional para el turismo. Cada semana Comayagua recibe más de 200 viajeros interesados en la herencia colonial. <a style="color:#2489B3; font-weight:bold; text-decoration:underline;" ></a>!
                                  </p>
                                      <table border="0" cellspacing="0" cellpadding="0" width="100%" class="emailwrapto100pc">
                                        <tr>
                                          <td class="emailcolsplit" align="left" valign="top" width="58%">
                                              <p style="color:#222222; font-family:Arial, Helvetica, sans-serif; font-size:15px; line-height:19px; margin-top:0; margin-bottom:20px; padding:0; font-weight:normal;">
                                                  Durante la temporada de Semana Santa, Comayagua se convierte en la capital del turismo religioso de Honduras. "De sus templos emana el aroma a incienso y el fuego titilante de las velas calienta la fe de miles de feligreses que buscan sosiego espiritual recordando la pasión, muerte y resurrección de Cristo </p>
                                          </td>
                                          <td class="emailcolsplit" align="left" valign="top" width="42%" style="padding-left:17px;max-width:231px;">
                                              <a href="#"><img src="https://serturista.com/wp-content/uploads/2007/10/alfombras-de-comayagua.jpg
                                                " alt="Supporting image 1" style="display:block; width:100% !important; height:auto !important;border-radius:8px;" border="0"></a>
                                          </td>
                                        </tr>
                                        <tr>
                                          <td class="emailcolsplit" align="left" valign="top" width="58%">
                                              <p style="color:#222222; font-family:Arial, Helvetica, sans-serif; font-size:15px; line-height:19px; margin-top:0; margin-bottom:20px; padding:0; font-weight:normal;">
                                                  Durante la temporada de Semana Santa, disfruta de ir a bañar a Villa Mark Park  lugar de relajamiento y donde puedes disfrutar de lo maximo.
                                              </p>
                                          </td>
                                          <td class="emailcolsplit" align="left" valign="top" width="42%" style="padding-left:17px;max-width:231px;">
                                              <a href="#"><img src="https://lh3.googleusercontent.com/t5iJr2_DQnZvNnhAjxUFrgXH0Qil-CsoRpf6XVoiSQWyGf1Af0bnFHo9g_hwVwyP9Yq1AeoV=w1080-h608-p-no-v0" alt="Supporting image 2" style="display:block; width:100% !important; height:auto !important;border-radius:8px;" border="0"></a>
                                          </td>
                                        </tr>
                                      </table>
      
                              </td>
                          </tr>
                     </table>
                     <table bgcolor="#FFFFFF" border="0" cellspacing="0" cellpadding="0" width="100%">
                          <tr>
                            <td width="100%" bgcolor="#ffffff" style="text-align:center;"><a style="font-weight:bold; text-decoration:none;" ><div style="display:block; max-width:100% !important; width:93% !important; height:auto !important;background-color:#2489B3;padding-top:15px;padding-right:15px;padding-bottom:15px;padding-left:15px;border-radius:8px;color:#ffffff;font-size:24px;font-family:Arial, Helvetica, sans-serif;" routerLink="/hoteles">Reserva ya!!</div></a></td>
                          </tr>
                     </table>
                     <table bgcolor="#FFFFFF" border="0" cellspacing="0" cellpadding="25" width="100%">
                          <tr>
                              <td width="100%" bgcolor="#ffffff" style="text-align:left;">
                                <p style="color:#222222; font-family:Arial, Helvetica, sans-serif; font-size:11px; line-height:14px; margin-top:0; margin-bottom:15px; padding:0; font-weight:normal;">
                                    <a style="color:#2489B3; font-weight:bold; text-decoration:underline;" ></a>
                                  
                              </td>
                          </tr>
                      </table>
                  </td>
              </tr>
          </table>
          </div>
      </td>
    </tr>
  </table> 


<router-outlet></router-outlet>
