
<nav class="navbar navbar-expand-sm bg-dark navbar-dark" >
  <!-- Brand/logo -->
  <a class="navbar-brand" href="#">Logo</a>
  
  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item" >
      <a class="nav-link" href="#" >Inicio</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/hoteles">Servicios</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/lugares">Lugares</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/contacto">Contactos</a>
    </li>
  </ul>
</nav>






 
    
    <router-outlet></router-outlet>


     <!-- Footer -->
<footer class="page-footer font-small cyan darken-3">
  
  <!-- Footer Elements -->
  <div class="container">

    <!-- Grid row-->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-12 py-5">
        <div class="mb-5 flex-right">

         <br><br> <!-- Facebook -->
          <a class="fb-ic" >
            <i class="fab fa-facebook-f fa-lg white-text mr-md-5 mr-3 fa-2x"></i>
          </a>
          <!-- Twitter -->
          <a class="tw-ic">
            <i class="fab fa-twitter fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
          </a>
          <!-- Google +-->
          <a class="gplus-ic">
            <i class="fab fa-google-plus-g fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
          </a>
          <!--Linkedin -->
          <a class="li-ic">
            <i class="fab fa-linkedin-in fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
          </a>
          <!--Instagram-->
          <a class="ins-ic">
            <i class="fab fa-instagram fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
          </a>
          <!--Pinterest-->
          <a class="pin-ic">
            <i class="fab fa-pinterest fa-lg white-text fa-2x"> </i>
          </a>
          <h4 style="float:right;">Diseñadores Web:</h4>
          <br>
          <br>
          <h6 style="float:right;">@karla Blandon--</h6>
        
          <h6 style="float:right;">@Yoham Velasquez--</h6 >
    
          <h6 style="float:right;">--@Marcos aguilera</h6>
         
        </div>
       
      </div>
      <!-- Grid column -->
    
    </div>
    <!-- Grid row-->
 
  </div>
  <!-- Footer Elements -->

 

</footer>
<!-- Footer -->