<br><br><br><br><br>
<h1>Copan</h1>
<br>
<div class="carousel">
  <div class="holder">
    <img src="http://yaragua.com/wp-content/uploads/2015/01/copan2.jpg" alt="" />
    <img src="https://sites.google.com/site/turismocopanhn/_/rsrc/1426024985469/home/lugares-turisticos-copan-ruinas/poza-caliente.jpg" alt="" />
    <img src="https://www.laprensa.hn/csp/mediapool/sites/dt.common.streams.StreamServer.cls?STREAMOID=Z2CBtb88FH$iplREotNENc$daE2N3K4ZzOUsqbU5sYt8tkUbjTZqPINDSA0VTElUWCsjLu883Ygn4B49Lvm9bPe2QeMKQdVeZmXF$9l$4uCZ8QDXhaHEp3rvzXRJFdy0KqPHLoMevcTLo3h8xh70Y6N_U_CryOsw6FTOdKL_jpQ-&CONTENTTYPE=image/jpeg" alt="" />
    <img src="https://www.laprensa.hn/csp/mediapool/sites/dt.common.streams.StreamServer.cls?STREAMOID=6slIfWYppevyg7tV$z_Ymc$daE2N3K4ZzOUsqbU5sYvqVqFSdbzfTw4P$XI_6V_7WCsjLu883Ygn4B49Lvm9bPe2QeMKQdVeZmXF$9l$4uCZ8QDXhaHEp3rvzXRJFdy0KqPHLoMevcTLo3h8xh70Y6N_U_CryOsw6FTOdKL_jpQ-&CONTENTTYPE=image/jpeg" alt="" />
    <img src="https://i.ytimg.com/vi/0qfe33iZP5s/maxresdefault.jpg" alt="" />
    <img src="http://www.hondurastips.hn/wp-content/uploads/2013/05/portada1.jpg" alt="" />
    <img src="https://www.hondurastips.hn/wp-content/uploads/2016/03/Expo-Copan-7.jpg" alt="" />
    <img src="https://www.elheraldo.hn/csp/mediapool/sites/dt.common.streams.StreamServer.cls?STREAMOID=SH1KyhJhmsomMlkBptr978$daE2N3K4ZzOUsqbU5sYutk3cLAut1Tzy2_j9trxc6WCsjLu883Ygn4B49Lvm9bPe2QeMKQdVeZmXF$9l$4uCZ8QDXhaHEp3rvzXRJFdy0KqPHLoMevcTLo3h8xh70Y6N_U_CryOsw6FTOdKL_jpQ-&CONTENTTYPE=image/jpeg" alt="" />
  
  </div>
</div>


<br><br>
<h3>Difruta de estos Lugares:</h3>
   <br><br>
  <div class="card-container">
    <div class="card img">
      <h3>Copan Ruinas.</h3>
      <p>Reserva tu lugar.</p>
      <img src="http://enviajes.cl/wp-content/uploads/2014/06/Lugares-turisticos-de-honduras-Copan.jpg" alt="D:">
      <br>
      <table bgcolor="#FFFFFF" border="0" cellspacing="0" cellpadding="0" width="100%">
          <tr>
            <td width="100%" bgcolor="#ffffff" style="text-align:center;"><a style="font-weight:bold; text-decoration:none;" routerLink="/hoteles"><div style="display:block; max-width:100% !important; width:93% !important; height:auto !important;background-color:#2489B3;padding-top:15px;padding-right:15px;padding-bottom:15px;padding-left:15px;border-radius:8px;color:#ffffff;font-size:24px;font-family:Arial, Helvetica, sans-serif;">Reserva ya!!</div></a></td>
          </tr>
     </table>
    </div>
    <div class="card img">
      <h3>Restaurante La casa del Todo </h3>
      <p>Reserva tu lugar.</p>
      <img src="http://www.radiohouse.hn/wp-content/uploads/2016/09/pueblo-tipico-copan-ruinas.jpg" alt="D:">
      <br>
      <table bgcolor="#FFFFFF" border="0" cellspacing="0" cellpadding="0" width="100%">
          <tr>
            <td width="100%" bgcolor="#ffffff" style="text-align:center;"><a style="font-weight:bold; text-decoration:none;" routerLink="/hoteles"><div style="display:block; max-width:100% !important; width:93% !important; height:auto !important;background-color:#2489B3;padding-top:15px;padding-right:15px;padding-bottom:15px;padding-left:15px;border-radius:8px;color:#ffffff;font-size:24px;font-family:Arial, Helvetica, sans-serif;">Reserva ya!!</div></a></td>
          </tr>
     </table>
    </div>
    <div class="card img">
      <h3>Hotel Clarion Copan</h3>
      <p>Reserva tu lugar.</p>
      <img src="https://b.otcdn.com/imglib/hotelfotos/8/195/clarion-hotel-copan-ruinas-copan-ruinas-019.jpg" alt="D:">
      <br>
      <table bgcolor="#FFFFFF" border="0" cellspacing="0" cellpadding="0" width="100%">
          <tr>
            <td width="100%" bgcolor="#ffffff" style="text-align:center;"><a style="font-weight:bold; text-decoration:none;" routerLink="/hoteles"><div style="display:block; max-width:100% !important; width:93% !important; height:auto !important;background-color:#2489B3;padding-top:15px;padding-right:15px;padding-bottom:15px;padding-left:15px;border-radius:8px;color:#ffffff;font-size:24px;font-family:Arial, Helvetica, sans-serif;">Reserva ya!!</div></a></td>
          </tr>
     </table>
    </div>
</div>

<br><br><br><br>
