<br><br><br><br><br>
<h1>Isla de la Bahia </h1>
<br>
<div class="carousel">
  <div class="holder">
    <img src="http://www.sercano.com/wp-content/uploads/2016/02/Oak-Ridge-Roatan.jpg" alt="" />
    <img src="https://sites.google.com/site/lugaresturisticos22/_/rsrc/1407717201681/home/UTi.jpg" alt="" />
    <img src="http://cleditorial.s3.amazonaws.com/article/destinations/6-hours-in/roatan/roatan-honduras-beach-770.jpg" alt="" />
    <img src="http://www.xplorhonduras.com/wp-content/uploads/isla-de-utila-islas-de-la-bahia-honduras.jpg" alt="" />
    <img src="https://queverenz.com/wp-content/uploads/2016/11/Que-cosas-ver-hacer-en-honduras-lugares-sitios-puntos-destinos-turismo-dias.jpg?gid=118" alt="" />
    <img src="https://www.hondurastips.hn/wp-content/uploads/2013/06/buceo-2-web.jpg" alt="" />
    <img src="https://i1.wp.com/hotelessanpedrosula.com//wp-content/uploads/2013/01/Lugares-Turisticos-de-Honduras-Roatan.jpg?resize=525%2C275&ssl=1" alt="" />
    <img src="https://e00-elmundo.uecdn.es/assets/multimedia/imagenes/2017/08/22/15034079314564.jpg" alt="" />
  
  </div>
</div>


<br><br>
<h3>Difruta de estos Lugares:</h3>
   <br><br>
  <div class="card-container">
    <div class="card img">
      <h3>Hotel Utila.</h3>
      <p>Reserva tu lugar.</p>
      <img src="http://www.xplorhonduras.com/wp-content/uploads/isla-de-utila-islas-de-la-bahia-honduras.jpg" alt="D:">
      <br>
      <table bgcolor="#FFFFFF" border="0" cellspacing="0" cellpadding="0" width="100%">
          <tr>
            <td width="100%" bgcolor="#ffffff" style="text-align:center;"><a style="font-weight:bold; text-decoration:none;" routerLink="/hoteles"><div style="display:block; max-width:100% !important; width:93% !important; height:auto !important;background-color:#2489B3;padding-top:15px;padding-right:15px;padding-bottom:15px;padding-left:15px;border-radius:8px;color:#ffffff;font-size:24px;font-family:Arial, Helvetica, sans-serif;">Reserva ya!!</div></a></td>
          </tr>
     </table>
    </div>
    <div class="card img">
      <h3>Tirina's Writer's Retreat (Utila) </h3>
      <p>Reserva tu lugar.</p>
      <img src="https://t-ec.bstatic.com/images/hotel/max500/647/64714429.jpg" alt="D:">
      <br>
      <table bgcolor="#FFFFFF" border="0" cellspacing="0" cellpadding="0" width="100%">
          <tr>
            <td width="100%" bgcolor="#ffffff" style="text-align:center;"><a style="font-weight:bold; text-decoration:none;" routerLink="/hoteles"><div style="display:block; max-width:100% !important; width:93% !important; height:auto !important;background-color:#2489B3;padding-top:15px;padding-right:15px;padding-bottom:15px;padding-left:15px;border-radius:8px;color:#ffffff;font-size:24px;font-family:Arial, Helvetica, sans-serif;">Reserva ya!!</div></a></td>
          </tr>
     </table>
    </div>
    <div class="card img">
      <h3>West Bay</h3>
      <p>Reserva tu lugar.</p>
      <img src="https://chtv.hn/wp-content/uploads/2018/04/Things-to-do-in-Roatan.jpg" alt="D:">
      <br>
      <table bgcolor="#FFFFFF" border="0" cellspacing="0" cellpadding="0" width="100%">
          <tr>
            <td width="100%" bgcolor="#ffffff" style="text-align:center;"><a style="font-weight:bold; text-decoration:none;" routerLink="/hoteles"><div style="display:block; max-width:100% !important; width:93% !important; height:auto !important;background-color:#2489B3;padding-top:15px;padding-right:15px;padding-bottom:15px;padding-left:15px;border-radius:8px;color:#ffffff;font-size:24px;font-family:Arial, Helvetica, sans-serif;">Reserva ya!!</div></a></td>
          </tr>
     </table>
    </div>
</div>

<br><br><br><br>
