



<div id="demo" class="carousel slide" data-ride="carousel">
  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li>
  </ul>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="http://static.websguru.com.ar/var/m_c/c9/c9b/72916/1198831-banner-50.jpg" alt="Los Angeles" width="100" height="100">
      <div class="carousel-caption">
        <h3>Los Angeles</h3>
        <p>We had such a great time in LA!</p>
      </div>   
    </div>
    <div class="carousel-item">
      <img src="https://lifenet.us/wp-content/uploads/2017/11/logoHondurasTravel_transf.png" alt="Chicago" width="1100" height="100">
      <div class="carousel-caption">
        <h3>Chicago</h3>
        <p>Thank you, Chicago!</p>
      </div>   
    </div>
    <div class="carousel-item">
      <img src="https://asiulblog.files.wordpress.com/2018/04/banner-porque.gif" alt="New York" width="1100" height="500">
      <div class="carousel-caption">
        <h3>New York</h3>
        <p>We love the Big Apple!</p>
      </div>   
    </div>
  </div>
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
</div>
<!--Portafolio-->


<!--Mision y vision-->

<div class="container-fluid bg-grey">
  <div class="row">
    <div class="col-sm-4">
      <img src="http://contradeltamacuro.gob.ve/imagenes/mision-vision.png" height="300" width="400">
    </div>
    <div class="col-sm-8">
      <br>
      <br>
      <br>
      <br>
      <br>
      <p><strong>MISION:</strong>Mision: Ofrecer un servicio personalizado de calidad y confiabilidad, a través de la buena atención de nuestro personal debidamente capacitado, diseñando viajes únicos, a precios asequibles, logrando superar las expectativas de nuestros clientes.</p>
        <br>
      <p><strong>VISION:</strong>Para convertirnos en una reconocida empresa de turismo en nuestra región, por la confianza y seguridad que ofrecemos a nuestros clientes, presentando servicios innovadores y asegurando una actividad turística estable, promoviendo un ambiente de buenas relaciones y obteniendo la más alta satisfacción de nuestros clientes.<p>
    </div>
  </div>
</div>
  
<br>
<br>
<br>


<!--servicios-->
<div class="container-fluid text-center">
  <h2>SERVICIOS QUE OFRECE</h2>
  <h4>TURUMBOHN</h4>
  <br>
  <div class="row">
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-globe"></span>
      <h4>LUGARES</h4>
      <p>Lorem ipsum dolor sit amet..</p>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-heart"></span>
      <h4>HOTELES</h4>
      <p>Lorem ipsum dolor sit amet..</p>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-earphone"></span>
      <h4>CONTACTO</h4>
      <p>Lorem ipsum dolor sit amet..</p>
    </div>
    </div>
</div>
<br><br><br><br>
