<header>
 
  <!--Carousel Wrapper-->
<div id="carousel-example-2" class="carousel slide carousel-fade z-depth-1-half" data-ride="carousel">
    <!--Indicators-->
    <ol class="carousel-indicators">
      <li data-target="#carousel-example-2" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-example-2" data-slide-to="1"></li>
      <li data-target="#carousel-example-2" data-slide-to="2"></li>
    </ol>
    <!--/.Indicators-->
    <!--Slides-->
    <div class="carousel-inner" role="listbox">
      <div class="carousel-item active">
        <div class="view">
          <img class="d-block w-100" src="http://suntravel.hn/wp-content/uploads/2017/04/Descubre-como-las-griegas-se-mantenian-bellas.jpg" height="700px" alt="First slide">
          <div class="mask rgba-black-light"></div>
        </div>
        <div class="carousel-caption">
          <h3 class="h3-responsive">Tu RumboHN</h3>
         
        </div>
      </div>
      <div class="carousel-item">
        <!--Mask color-->
        <div class="view">
          <img class="d-block w-100" src="https://oncenoticias.cr/wp-content/uploads/2017/01/22.jpg"  height="700px" alt="Second slide">
          <div class="mask rgba-black-light"></div>
        </div>
        <div class="carousel-caption">
          <h3 class="h3-responsive">Tu RumboHN</h3>
       
        </div>
      </div>
      <div class="carousel-item">
        <!--Mask color-->
        <div class="view">
          <img class="d-block w-100" src="https://www.hondurastips.hn/wp-content/uploads/2017/08/01.png" height="700px" alt="Third slide">
          <div class="mask rgba-black-light"></div>
        </div>
        <div class="carousel-caption">
          <h3 class="h3-responsive">Tu rumbohn</h3>
        </div>
      </div>
    </div>
    <!--/.Slides-->
    <!--Controls-->
    <a class="carousel-control-prev" href="#carousel-example-2" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carousel-example-2" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
    <!--/.Controls-->
  </div>
  <!--/.Carousel Wrapper-->
</header>


<br>
<br>


<div class="container-fluid text-center">
    <h2>Lugares más destacados de Honduras</h2>
    <br>
    <br>
    <div class="row">
      <div class="col-sm-4">
        <span class="glyphicon glyphicon-globe"></span>
        <img src="https://opturh.com/sites/default/files/styles/flexslider_full/public/SL-03_0.jpg?itok=yuAvIWmz" height="300px" width="400px" alt="">
        <a  routerLink="/lugares"> <h4>Iglesia Virgen de suaya</h4></a>
      </div>
      <div class="col-sm-4">
        <span class="glyphicon glyphicon-heart"></span>
        <img src="https://www.laprensa.hn/csp/mediapool/sites/dt.common.streams.StreamServer.cls?STREAMOID=2W$BdfnQUFCAM8r90L$fQM$daE2N3K4ZzOUsqbU5sYvYDEZzDWTRSKLMq4tj3UK2WCsjLu883Ygn4B49Lvm9bPe2QeMKQdVeZmXF$9l$4uCZ8QDXhaHEp3rvzXRJFdy0KqPHLoMevcTLo3h8xh70Y6N_U_CryOsw6FTOdKL_jpQ-&CONTENTTYPE=image/jpeg" height="300px" width="400px" alt="">
        <a  routerLink="/hoteles"> <h4>El picacho</h4></a>
      </div>

      <div class="col-sm-4">
        <span class="glyphicon glyphicon-earphone"></span>
        <img src="https://i0.wp.com/www.hondurasensusmanos.info/wp-content/uploads/2017/06/del1-380x300.jpg?resize=522%2C412" height="300px" width="400px" alt="">  
        <a  routerLink="/contacto"> <h4>Rotan</h4></a>
      </div>
      </div>

<br>
<br>

<div class="row">
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-globe"></span>
      <img src="https://hondurasturistica.com/wp-content/uploads/2017/11/lugares-de-interes-en-Honduras-para-turistas-1024x768.jpeg" height="300px" width="400px" alt="">
      <a  routerLink="/lugares"> <h4>Trujillo</h4></a>
    </div>

    <div class="col-sm-4">
      <span class="glyphicon glyphicon-heart"></span>
      <img src="https://hondudiario.com/wp-content/uploads/2018/02/U1.jpg" height="300px" width="400px" alt="">
      <a  routerLink="/hoteles"> <h4>Utila</h4></a>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-earphone"></span>
      <img src="https://hotelessanpedrosula.com//wp-content/uploads/2013/04/lugares-Turisticos-de-Honduras.jpg" height="300px" width="400px" alt="">  
      <a  routerLink="/contacto"> <h4>Copan</h4></a>
    </div>
    </div>
    </div>
<br>
<br>
  <div class="container-fluid text-center">
     <button type="button" routerLink="/lugares" class="btn btn-info">ver mas</button>
  </div>
<!--servicios-->
<div class="container-fluid text-center">
  <br>
  <br>
  <h2>SERVICIOS QUE OFRECE</h2>
  <h4>TURUMBOHN</h4>
  <br>
  <br>

<!--3 modales -->
<div class="row">
    <!-- Grid column -->
    <div class="col-lg-4 col-md-12 mb-4">
  
      <!--Modal: Name-->
      <div class="modal fade" id="modal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
  
          <!--Content-->
          <div class="modal-content">
  
            <!--Body-->
            <div class="modal-body mb-0 p-0">
  
              <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
                <img class="embed-responsive-item" src="https://oncenoticias.cr/wp-content/uploads/2017/01/22.jpg"
                  allowfullscreen>
              </div>
  
            </div>
  
            <!--Footer-->
            <div class="modal-footer justify-content-center">
              <button type="button" class="btn btn-outline-primary btn-rounded btn-md ml-4" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>




      <!--Modal: Name-->
  
      <a><img class="img-fluid z-depth-1" src="https://oncenoticias.cr/wp-content/uploads/2017/01/22.jpg" height="200px" width="250px" alt=""
          data-toggle="modal" data-target="#modal1"></a>
  
    </div>
    <!-- Grid column -->
  
    <!-- Grid column -->
    <div class="col-lg-4 col-md-6 mb-4">
      <!--Modal: Name-->
      <div class="modal fade" id="modal6" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
  
          <!--Content-->
          <div class="modal-content">
  
            <!--Body-->
            <div class="modal-body mb-0 p-0">
  
              <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
                <img src="https://www.hondurastips.hn/wp-content/uploads/2011/07/Bienvenidos-a-Hotel-Real-InterContinental-Tegucigalpa_Honduras.jpg" class="embed-responsive-item" 
                  allowfullscreen>
              </div>
  
            </div>
  
            <!--Footer-->
            <div class="modal-footer justify-content-center">
              <button type="button" class="btn btn-outline-primary btn-rounded btn-md ml-4" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
      <!--Modal: Name-->
  
      <a><img class="img-fluid z-depth-1" src="https://www.hondurastips.hn/wp-content/uploads/2011/07/Bienvenidos-a-Hotel-Real-InterContinental-Tegucigalpa_Honduras.jpg" height="200px" width="250px"   data-toggle="modal" data-target="#modal1"></a>
    </div>
    <!-- Grid column -->
  
    <!-- Grid column -->
    <div class="col-lg-4 col-md-6 mb-4">
  
      <!--Modal: Name-->
      <div class="modal fade" id="modal4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
  
          <!--Content-->
          <div class="modal-content">
  
            <!--Body-->
            <div class="modal-body mb-0 p-0">
  
              <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
                <img class="embed-responsive-item" src="https://images.unsplash.com/photo-1474524955719-b9f87c50ce47?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"
                  allowfullscreen>
              </div>
  
            </div>
  
            <!--Footer-->
            <div class="modal-footer justify-content-center">
      
  
              <button type="button" class="btn btn-outline-primary btn-rounded btn-md ml-4" data-dismiss="modal">Close</button>
  
            </div>
  
          </div>
        </div>
      </div>  
      <a><img class="img-fluid z-depth-1" src="https://images.unsplash.com/photo-1474524955719-b9f87c50ce47?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" height="200px" width="250px" alt="video"
          data-toggle="modal" data-target="#modal4"></a>
    </div>
  </div> 
</div>

<a class="ir-arriba" href="#" title="Volver arriba">
  <span class="fa-stack">
    <i class="fa fa-circle fa-stack-2x"></i>
    <i class="fa fa-arrow-up fa-stack-1x fa-inverse"></i>
  </span>
</a>
<style>
    .ir-arriba {
   
    padding: 30px;
    background-repeat: no-repeat;
    font-size: 20px;
    color: black;
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 2;
  }
</style>
<script>
$(document).ready(function () {
    
    /*********************************************** boton hacia arriba **********************************************/
    $('.ir-arriba').click(function(){
        $('body, html').animate({
            scrollTop: '0px'
        }, 1000);
    });

    $(window).scroll(function(){
        if( $(this).scrollTop() > 0 ){
            $('.ir-arriba').slideDown(600);
        } else {
            $('.ir-arriba').slideUp(600);
        }
    });

    /*hacia abajo*/
    $('.ir-abajo').click(function(){
        $('body, html').animate({
            scrollTop: '1000px'
        }, 1000);
    });

});
</script>
  
 