@import url(https://fonts.googleapis.com/css?family=PT+Sans);

body {
  font-family: 'PT Sans', Arial, Verdana;
  background-color: #eee;

}

h1 {
  text-align: center;
  font-size: 48px;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #222;
}

img {
  display: inline-block;
  width: 300px;
  height: 270px;
}

.carousel {
  width: 1100px;
  height: 300px;
  overflow: hidden;
  padding: 8px;
  box-sizing: border-box;
  border: 2px solid #999;
  box-shadow: 0 0 4px #000;
  margin: 0 auto;
  border-radius: 5px;
  
}

.holder {
  animation: carousel 25s linear infinite;
  white-space: nowrap;
  will-change: transform;
  
  &:hover {
    animation-play-state: paused;
  }
}

@keyframes carousel {
  0% {
    transform: translateX(0);
  }
  
  50% {
    transform: translateX(-100%);
  }
  
  100% {
    transform: translateX(0);
  }
}

table[class="fulltable"], td[class="fulltd"] {
    max-width:100% !important;
    width:100% !important;
    height:auto !important;
}
        
@media screen and (max-device-width: 430px), screen and (max-width: 430px) { 
    td[class=emailcolsplit]{
        width:100%!important; 
        float:left!important;
        padding-left:0!important;
        max-width:430px !important;
    }
td[class=emailcolsplit] img {
margin-bottom:20px !important;
}
}


a
{
	text-decoration: none;
	color:Black;
}

a:hover
{
	border-bottom: 1px dashed #ED971F;
	color: #ED971F;
}

/**** slider ****/

#slider, ul
{
	height: 350px;
}

#slider
{
	margin: auto;
	overflow: hidden;
	padding: 20px;
	border: 1px solid rgba(0, 0, 0, 0.15);
	margin-top: 50px;
	border-radius: 10px;
	box-shadow: 2px 2px 14px rgba(0, 0, 0, 0.25);
	position: relative;
	width: 600px;
}

#slider li
{
	float: left;
	position: relative;
	width: 600px;
	display: inline-block;
	height: 200px;
}

#slider ul
{
	list-style: none;
	position: absolute;
	left: 0px;
	top: 0px;
	width: 9000px;
	transition: left .3s linear;
	-moz-transition: left .3s linear;
	-o-transition: left .3s linear;
	-webkit-transition: left .1s linear;
	margin-left: -25px;
  font-family: century gothic;
  color: #666;
}

/*** Content ***/

.slider-container
{
	margin: 0 auto;
	padding: 0;
	width: 550px;
  min-height: 180px;
  border-bottom: 1px solid #ccc;
}

.slider-container h4
{
 	color: #0A7FAD;
  text-shadow: -1px 0px 0px rgba(0, 0, 0, 0.50);
}

.slider-container  p
{
	margin: 10px 25px;
	font-weight: semi-bold;
	line-height: 150%;
	text-align: justify;
}

/*** target hooks ****/

@-webkit-keyframes slide-animation {
	0% {opacity:0;}
	2% {opacity:1;}
	20% {left:0px; opacity:1;}
	22.5% {opacity:0.6;}
	25% {left:-600px; opacity:1;}
	45% {left:-600px; opacity:1;}
	47.5% {opacity:0.6;}
	50% {left:-1200px; opacity:1;}
	70% {left:-1200px; opacity:1;}
	72.5% {opacity:0.6;}
	75% {left:-1800px; opacity:1;}
	95% {opacity:1;}
	98% {left:-1800px; opacity:0;} 
	100% {left:0px; opacity:0;}
}

#slider ul
{
	-webkit-animation: slide-animation 25s infinite;
}

/* use to paused the content on mouse over */

#slider ul:hover
{
	-moz-animation-play-state: paused;
	-webkit-animation-play-state: paused;
}



/* Fonts from Google Fonts - more at https://fonts.google.com */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
@import url('https://fonts.googleapis.com/css?family=Righteous');





h1, h2 {text-align: center}

.card-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around
}



/* Estilo de las tarjetas */
.card {
  position: center;
  color: #444;
  margin: 20px;
  padding: 20px 35px;
  max-width: 350px;
  font-family: "Open Sans", sans-serif;
  font-size: 1.1em;
  line-height: 1.6;
  border: 1px solid rgba(0,0,0,.12);
  border-radius: 3px;
  box-shadow: 1px 1px 6px rgba(0,0,0,.2);
  box-sizing: border-box;
  overflow: hidden;
   
}
h1{
	font-family: 'Lobster', cursive;
text-align: center;
}

h3{
	font-family: 'Lobster', cursive;
text-align: center;
}
