<header>
 
  <!--Carousel Wrapper-->
<div id="carousel-example-2" class="carousel slide carousel-fade z-depth-1-half" data-ride="carousel">
    <!--Indicators-->
    <ol class="carousel-indicators">
      <li data-target="#carousel-example-2" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-example-2" data-slide-to="1"></li>
      <li data-target="#carousel-example-2" data-slide-to="2"></li>
    </ol>
    <!--/.Indicators-->
    <!--Slides-->
    <div class="carousel-inner" role="listbox">
      <div class="carousel-item active">
        <div class="view">
          <img class="d-block w-100" src="http://suntravel.hn/wp-content/uploads/2017/04/Descubre-como-las-griegas-se-mantenian-bellas.jpg" height="700px" alt="First slide">
          <div class="mask rgba-black-light"></div>
        </div>
        <div class="carousel-caption">
          <h3 class="h3-responsive">Tu RumboHN</h3>
          <p>First text</p>
        </div>
      </div>
      <div class="carousel-item">
        <!--Mask color-->
        <div class="view">
          <img class="d-block w-100" src="https://oncenoticias.cr/wp-content/uploads/2017/01/22.jpg"  height="700px" alt="Second slide">
          <div class="mask rgba-black-light"></div>
        </div>
        <div class="carousel-caption">
          <h3 class="h3-responsive">Tu RumboHN</h3>
          <p>Secondary text</p>
        </div>
      </div>
      <div class="carousel-item">
        <!--Mask color-->
        <div class="view">
          <img class="d-block w-100" src="https://www.hondurastips.hn/wp-content/uploads/2017/08/01.png" height="700px" alt="Third slide">
          <div class="mask rgba-black-light"></div>
        </div>
        <div class="carousel-caption">
          <h3 class="h3-responsive">This is the third title</h3>
          <p>Third text</p>
        </div>
      </div>
    </div>
    <!--/.Slides-->
    <!--Controls-->
    <a class="carousel-control-prev" href="#carousel-example-2" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carousel-example-2" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
    <!--/.Controls-->
  </div>
  <!--/.Carousel Wrapper-->
</header>
<br>
<br>


<div class="container-fluid text-center">
    <h2>Lugares más destacados de Honduras</h2>
    
    <div class="row">
      <div class="col-sm-4">
        <span class="glyphicon glyphicon-globe"></span>
        <a  routerLink="/lugares"> <h4>Iglesia Virgen de suaya</h4></a>
        <img src="https://opturh.com/sites/default/files/styles/flexslider_full/public/SL-03_0.jpg?itok=yuAvIWmz" height="300px" width="400px" alt="">
      </div>
      <div class="col-sm-4">
        <span class="glyphicon glyphicon-heart"></span>
        <a  routerLink="/hoteles"> <h4>El picacho</h4></a>
        <img src="https://www.laprensa.hn/csp/mediapool/sites/dt.common.streams.StreamServer.cls?STREAMOID=2W$BdfnQUFCAM8r90L$fQM$daE2N3K4ZzOUsqbU5sYvYDEZzDWTRSKLMq4tj3UK2WCsjLu883Ygn4B49Lvm9bPe2QeMKQdVeZmXF$9l$4uCZ8QDXhaHEp3rvzXRJFdy0KqPHLoMevcTLo3h8xh70Y6N_U_CryOsw6FTOdKL_jpQ-&CONTENTTYPE=image/jpeg" height="300px" width="400px" alt="">
      
      </div>
      <div class="col-sm-4">
        <span class="glyphicon glyphicon-earphone"></span>
        <a  routerLink="/contacto"> <h4>Rotan</h4></a>
        <img src="https://i0.wp.com/www.hondurasensusmanos.info/wp-content/uploads/2017/06/del1-380x300.jpg?resize=522%2C412" height="300px" width="400px" alt="">  
      </div>
      </div>
  </div>
  <br>
  <br>
  

<!--Mision y vision-->

<div class="container-fluid bg-grey">
  <div class="row">
    <div class="col-sm-4">
      <br>
      <br>
      <br>
      

      <img id="logomv" src="assets/logomv.png" height="300" width="400">
    </div>
    <div class="col-sm-8">
      <br>
      <br>
      <br>
      <br>
      <br>
      <p><strong>MISION:</strong>Mision: Ofrecer un servicio personalizado de calidad y confiabilidad, a través de la buena atención de nuestro personal debidamente capacitado, diseñando viajes únicos, a precios asequibles, logrando superar las expectativas de nuestros clientes.</p>
        <br>
      <p><strong>VISION:</strong>Para convertirnos en una reconocida empresa de turismo en nuestra región, por la confianza y seguridad que ofrecemos a nuestros clientes, presentando servicios innovadores y asegurando una actividad turística estable, promoviendo un ambiente de buenas relaciones y obteniendo la más alta satisfacción de nuestros clientes.<p>
    </div>
  </div>
</div>
  
<br>
<br>
<br>


<!--servicios-->
<div class="container-fluid text-center">
  <h2>SERVICIOS QUE OFRECE</h2>
  <h4>TURUMBOHN</h4>
  <br>
  <div class="row">
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-globe"></span>
      <a  routerLink="/lugares"> <h4>LUGARES</h4></a>
      <img src="https://oncenoticias.cr/wp-content/uploads/2017/01/22.jpg" height="200px" width="250px" alt="">
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-heart"></span>
      <a  routerLink="/hoteles"> <h4>Hoteles</h4></a>
      <img src="https://www.hondurastips.hn/wp-content/uploads/2011/07/Bienvenidos-a-Hotel-Real-InterContinental-Tegucigalpa_Honduras.jpg" height="200px" width="250px" alt="">
    
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-earphone"></span>
      <a  routerLink="/contacto"> <h4>Contactos</h4></a>
      <img src="https://images.unsplash.com/photo-1474524955719-b9f87c50ce47?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" height="200px" width="250px" alt="">  
    </div>
    </div>
</div>
<br><br><br><br>
