<body> 
 <br>
 <br>

<h1>Entra y Disfrurta de Nuestra pagina</h1>

<div id="login-box">
  

  <div class="left">
    
    <h1>Contactanos</h1>
    
    <input type="text" name="username" placeholder="Nombre" />
    <input type="text" name="email" placeholder="E-mail" required />
    <input type="text" name="Lugar" placeholder="Lugar" />
    <input type="password" name="password2" placeholder="Contraseña" />
    
    <input type="submit" routerLink="/hoteles" name="signup_submit" value="Entrar" />
  </div>
  
  <div class="right">
    <span class="loginwith"> Conoce:<br />Tu RumboHN</span>
    
    <button class="social-signin facebook"  href="#" > facebook</button>
    <button class="social-signin twitter"> Twitter</button>
    <button class="social-signin google"> Google+</button>
  </div>

</div>

<br><br>


</body>