<br>
<h1>Ceiba</h1>
<br>
  
<table cellpadding="0" cellspacing="0" border="0" id="backgroundTable" style="height:auto !important; margin:0; padding:0; width:100% !important; background-color:#FFFFFF; color:#222222;">
    <tr>
      
      <td>
           <div id="tablewrap" style="width:100% !important; max-width:600px !important; text-align:center !important; margin-top:0 !important; margin-right: auto !important; margin-bottom:0 !important; margin-left: auto !important;">
            <table id="contenttable" width="600" align="center" cellpadding="0" cellspacing="0" border="0" style="background-color:#FFFFFF; text-align:center !important; margin-top:0 !important; margin-right: auto !important; margin-bottom:0 !important; margin-left: auto !important; border:none; width: 100% !important; max-width:600px !important;">
              <tr>
                  <td width="100%">
                      <table bgcolor="#FFFFFF" border="0" cellspacing="0" cellpadding="0" width="100%">
                          <tr>
                              <td width="100%" bgcolor="#ffffff" style="text-align:center;"><a href="#"><img src="https://www.hondurastips.hn/wp-content/uploads/2014/04/Muelle-Reinaldo-Canales.jpg" alt="Main banner image and link" style="display:inline-block; max-width:100% !important; width:100% !important; height:auto !important;border-bottom-right-radius:8px;border-bottom-left-radius:8px;" border="0"></a>
                              </td>
                          </tr>
                     </table>
                     <table bgcolor="#FFFFFF" border="0" cellspacing="0" cellpadding="25" width="100%">
                          <tr>
                              <td width="100%" bgcolor="#ffffff" style="text-align:left;">
                                <p style="color:#222222; font-family:Arial, Helvetica, sans-serif; font-size:15px; line-height:19px; margin-top:0; margin-bottom:20px; padding:0; font-weight:normal;">
                                                             
                                  </p>
                                <p style="color:#222222; font-family:Arial, Helvetica, sans-serif; font-size:15px; line-height:19px; margin-top:0; margin-bottom:20px; padding:0; font-weight:normal;">
                                    Las Playas de La Ceiba, la tercer ciudad más importante de Honduras constituyen uno de los puntos más atractivos que miles de turistas nacionales y extranjeros visitan durante las vacaciones de verano, Semana Santa o cualquier otro escape que entre los compromisos cotidianos se pueden dar.. <a style="color:#2489B3; font-weight:bold; text-decoration:underline;" href="#"></a>!
                                  </p>
                                      <table border="0" cellspacing="0" cellpadding="0" width="100%" class="emailwrapto100pc">
                                        <tr>
                                          <td class="emailcolsplit" align="left" valign="top" width="58%">
                                              <p style="color:#222222; font-family:Arial, Helvetica, sans-serif; font-size:15px; line-height:19px; margin-top:0; margin-bottom:20px; padding:0; font-weight:normal;">
                                                  Corozal es de la bella playa del país que es Honduras, el cual debemos de disfrutar y cuidar.

                                                  Estas playas son una muestran las bellas de corozal, la pequeña pero bonita ciudad, y un clima muy agradable para disfrutar, está ubicada muy cerca de la Ciudad de La Ceiba.                  </p>
                                          </td>
                                          <td class="emailcolsplit" align="left" valign="top" width="42%" style="padding-left:17px;max-width:231px;">
                                              <a href="#"><img src="https://hondudiario.com/wp-content/uploads/2018/03/2347570818_ae60f9db14.jpg
                                                " alt="Supporting image 1" style="display:block; width:100% !important; height:auto !important;border-radius:8px;" border="0"></a>
                                          </td>
                                        </tr>
                                        <tr>
                                          <td class="emailcolsplit" align="left" valign="top" width="58%">
                                              <p style="color:#222222; font-family:Arial, Helvetica, sans-serif; font-size:15px; line-height:19px; margin-top:0; margin-bottom:20px; padding:0; font-weight:normal;">
                                                  Las playas del mar Caribe en La Ceiba, constituyen otro punto muy atractivo, bordean toda la parte norte de la ciudad y a pocos minutos se encuentran las playas de Perú ubicadas en el municipio de Jutiapa y El Porvenir, así como las de Corozal y Sambo Creek donde se asientan las poblaciones garífunas que conservan su lengua y cultura afrocaribeña.
                                              </p>
                                          </td>
                                          <td class="emailcolsplit" align="left" valign="top" width="42%" style="padding-left:17px;max-width:231px;">
                                              <a href="#"><img src="http://3.bp.blogspot.com/-SxfGFg3H_1U/U0LEtCnsv2I/AAAAAAAAAhk/Eh1EQW3fbao/s1600/playceiba.jpg" alt="Supporting image 2" style="display:block; width:100% !important; height:auto !important;border-radius:8px;" border="0"></a>
                                          </td>
                                        </tr>
                                      </table>
      
                              </td>
                          </tr>
                     </table>
                     <table bgcolor="#FFFFFF" border="0" cellspacing="0" cellpadding="0" width="100%">
                          <tr>
                            <td width="100%" bgcolor="#ffffff" style="text-align:center;"><a style="font-weight:bold; text-decoration:none;" href="#"><div style="display:block; max-width:100% !important; width:93% !important; height:auto !important;background-color:#2489B3;padding-top:15px;padding-right:15px;padding-bottom:15px;padding-left:15px;border-radius:8px;color:#ffffff;font-size:24px;font-family:Arial, Helvetica, sans-serif;">Reserva ya!!</div></a></td>
                          </tr>
                     </table>
                     <table bgcolor="#FFFFFF" border="0" cellspacing="0" cellpadding="25" width="100%">
                          <tr>
                              <td width="100%" bgcolor="#ffffff" style="text-align:left;">
                                <p style="color:#222222; font-family:Arial, Helvetica, sans-serif; font-size:11px; line-height:14px; margin-top:0; margin-bottom:15px; padding:0; font-weight:normal;">
                                    <a style="color:#2489B3; font-weight:bold; text-decoration:underline;" href="#"></a>
                                  
                              </td>
                          </tr>
                      </table>
                  </td>
              </tr>
          </table>
          </div>
      </td>
    </tr>
  </table> 


<router-outlet></router-outlet>
