<br><br><br><br><br>
<h1>Choluteca</h1>
<br>
<div class="carousel">
  <div class="holder">
    <img src="https://www.elheraldo.hn/csp/mediapool/sites/dt.common.streams.StreamServer.cls?STREAMOID=aUI1tBYA$Eoa8lajdGFznM$daE2N3K4ZzOUsqbU5sYvMy8NnzMA1EpBSr2T6A2RZ6FB40xiOfUoExWL3M40tfzssyZqpeG_J0TFo7ZhRaDiHC9oxmioMlYVJD0A$3RbIiibgT65kY_CSDiCiUzvHvODrHApbd6ry6YGl5GGOZrs-&CONTENTTYPE=image/jpeg" alt="" />
    <img src="https://www.hondurastips.hn/wp-content/uploads/2013/06/Choluteca1-1200x800.jpg" alt="" />
    <img src="https://i.pinimg.com/originals/df/53/90/df53905a265a48e6178e1aff07c8d4ba.jpg" alt="" />
    <img src="https://www.hondurastips.hn/wp-content/uploads/2012/02/Playa-de-Cede%C3%B1o-web.jpg" alt="" />
    <img src="http://4.bp.blogspot.com/--PjVTI17qO8/Tqie3P1tEMI/AAAAAAAAAAU/72dWHqc9S-k/s1600/9.Choluteca.jpg" alt="" />
    <img src="https://www.hondurastips.hn/wp-content/uploads/2016/07/100.jpg" alt="" />
    <img src="https://media-cdn.tripadvisor.com/media/photo-s/0e/5b/e0/2c/hotel-gualiqueme.jpg" alt="" />
    <img src="https://diarioroatan.com/wp-content/uploads/2017/11/BIOSFERA-SAN-MARCOS-3.jpg" alt="" />
  
  </div>
</div>


<br><br>
<h3>Difruta de estos Lugares:</h3>
   <br><br>
  <div class="card-container">
    <div class="card img">
      <h3>Hotel La Casa Real.</h3>
      <p>Reserva tu lugar.</p>
      <img src="https://media-cdn.tripadvisor.com/media/photo-s/07/87/08/eb/hotel-casa-real.jpg" alt="D:">
      <br>
      <table bgcolor="#FFFFFF" border="0" cellspacing="0" cellpadding="0" width="100%">
          <tr>
            <td width="100%" bgcolor="#ffffff" style="text-align:center;"><a style="font-weight:bold; text-decoration:none;" routerLink="/hoteles"><div style="display:block; max-width:100% !important; width:93% !important; height:auto !important;background-color:#2489B3;padding-top:15px;padding-right:15px;padding-bottom:15px;padding-left:15px;border-radius:8px;color:#ffffff;font-size:24px;font-family:Arial, Helvetica, sans-serif;">Reserva ya!!</div></a></td>
          </tr>
     </table>
    </div>
    <div class="card img">
      <h3>Hotel Gualiqueme</h3>
      <p>Reserva tu lugar.</p>
      <img src="https://hondudiario.com/wp-content/uploads/2018/03/WhatsApp-Image-2018-03-11-at-17.49.57.jpeg" alt="D:">
      <br>
      <table bgcolor="#FFFFFF" border="0" cellspacing="0" cellpadding="0" width="100%">
          <tr>
            <td width="100%" bgcolor="#ffffff" style="text-align:center;"><a style="font-weight:bold; text-decoration:none;" routerLink="/hoteles"><div style="display:block; max-width:100% !important; width:93% !important; height:auto !important;background-color:#2489B3;padding-top:15px;padding-right:15px;padding-bottom:15px;padding-left:15px;border-radius:8px;color:#ffffff;font-size:24px;font-family:Arial, Helvetica, sans-serif;">Reserva ya!!</div></a></td>
          </tr>
     </table>
    </div>
    <div class="card img">
      <h3>Cedeño</h3>
      <p>Reserva tu lugar.</p>
      <img src="https://www.hondurastips.hn/wp-content/uploads/2012/02/Playa-de-Cede%C3%B1o-web.jpg" alt="D:">
      <br>
      <table bgcolor="#FFFFFF" border="0" cellspacing="0" cellpadding="0" width="100%">
          <tr>
            <td width="100%" bgcolor="#ffffff" style="text-align:center;"><a style="font-weight:bold; text-decoration:none;" routerLink="/hoteles"><div style="display:block; max-width:100% !important; width:93% !important; height:auto !important;background-color:#2489B3;padding-top:15px;padding-right:15px;padding-bottom:15px;padding-left:15px;border-radius:8px;color:#ffffff;font-size:24px;font-family:Arial, Helvetica, sans-serif;">Reserva ya!!</div></a></td>
          </tr>
     </table>
    </div>
</div>

<br><br><br><br>
