<br><br><br><br><br>
<h1>Santa Barbara </h1>
<br>
<div class="carousel">
  <div class="holder">
    <img src="https://hondudiario.com/wp-content/uploads/2018/02/santaaaaa.jpg" alt="" />
    <img src="https://media-cdn.tripadvisor.com/media/photo-s/07/3e/d1/09/aguas-de-santa-barbara.jpg" alt="" />
    <img src="https://www.hondurastips.hn/wp-content/uploads/2016/06/011-768x576.jpg" alt="" />
    <img src="https://www.turismoquindio.com/wp-content/uploads/2017/07/Zonas_humedas_eco_hotel_santa_barbara8-1000x0.jpg" alt="" />
    <img src="https://hondudiario.com/wp-content/uploads/2018/02/santaaaaa.jpg" alt="" />
    <img src="https://www.hondurastips.hn/wp-content/uploads/2016/09/Parque-centrel-de-San-Marcos-Santa-B%C3%A1rbara-768x576.jpg" alt="" />
    <img src="https://www.hondurastips.hn/wp-content/uploads/2014/05/En-las-cercan%C3%ADas-del-parque-se-encuentra-la-iglesia-Cat%C3%B3lica..jpg" alt="" />
    <img src="https://i0.wp.com/www.lempiraviajero.com/wp-content/uploads/2017/05/La-boquita-lempira-viajero-2.jpg?fit=1170%2C780" alt="" />
  
  </div>
</div>


<br><br>
<h3>Difruta de estos Lugares:</h3>
   <br><br>
  <div class="card-container">
    <div class="card img">
      <h3>Cascada Cacao.</h3>
      <p>Reserva tu lugar.</p>
      <img src="https://www.laprensa.hn/csp/mediapool/sites/dt.common.streams.StreamServer.cls?STREAMOID=OeiyhhFzy_RSA33F5126Q8$daE2N3K4ZzOUsqbU5sYv0OdUVOvVSNiioOWzNbgcY6FB40xiOfUoExWL3M40tfzssyZqpeG_J0TFo7ZhRaDiHC9oxmioMlYVJD0A$3RbIiibgT65kY_CSDiCiUzvHvODrHApbd6ry6YGl5GGOZrs-&CONTENTTYPE=image/jpeg" alt="D:">
      <br>
      <table bgcolor="#FFFFFF" border="0" cellspacing="0" cellpadding="0" width="100%">
          <tr>
            <td width="100%" bgcolor="#ffffff" style="text-align:center;"><a style="font-weight:bold; text-decoration:none;" routerLink="/hoteles"><div style="display:block; max-width:100% !important; width:93% !important; height:auto !important;background-color:#2489B3;padding-top:15px;padding-right:15px;padding-bottom:15px;padding-left:15px;border-radius:8px;color:#ffffff;font-size:24px;font-family:Arial, Helvetica, sans-serif;">Reserva ya!!</div></a></td>
          </tr>
     </table>
    </div>
    <div class="card img">
      <h3>Aguas Resort Hotel. </h3>
      <p>Reserva tu lugar.</p>
      <img src="https://media-cdn.tripadvisor.com/media/photo-s/07/3e/d1/09/aguas-de-santa-barbara.jpg" alt="D:">
      <br>
      <table bgcolor="#FFFFFF" border="0" cellspacing="0" cellpadding="0" width="100%">
          <tr>
            <td width="100%" bgcolor="#ffffff" style="text-align:center;"><a style="font-weight:bold; text-decoration:none;" routerLink="/hoteles"><div style="display:block; max-width:100% !important; width:93% !important; height:auto !important;background-color:#2489B3;padding-top:15px;padding-right:15px;padding-bottom:15px;padding-left:15px;border-radius:8px;color:#ffffff;font-size:24px;font-family:Arial, Helvetica, sans-serif;">Reserva ya!!</div></a></td>
          </tr>
     </table>
    </div>
    <div class="card img">
      <h3>Eco Hotel La Hacienda</h3>
      <p>Reserva tu lugar.</p>
      <img src="https://www.turismoquindio.com/wp-content/uploads/2017/07/Zonas_humedas_eco_hotel_santa_barbara8-1000x0.jpg" alt="D:">
      <br>
      <table bgcolor="#FFFFFF" border="0" cellspacing="0" cellpadding="0" width="100%">
          <tr>
            <td width="100%" bgcolor="#ffffff" style="text-align:center;"><a style="font-weight:bold; text-decoration:none;" routerLink="/hoteles"><div style="display:block; max-width:100% !important; width:93% !important; height:auto !important;background-color:#2489B3;padding-top:15px;padding-right:15px;padding-bottom:15px;padding-left:15px;border-radius:8px;color:#ffffff;font-size:24px;font-family:Arial, Helvetica, sans-serif;">Reserva ya!!</div></a></td>
          </tr>
     </table>
    </div>
</div>

<br><br><br><br>
